/*html{*/
/*    overflow-x: hidden;*/
/*}*/
/*.banner{*/
/*    margin-bottom: -20px;*/
/*    margin-left: -20px;*/
/*    margin-right: -25px;*/
/*    margin-top: -20px;*/
/*    max-height: 1050px;*/
/*    max-width: 1680px;*/
/*    background-size: 100%;*/
    
/*}*/

.toptext{
    position: absolute;
    font-family: fantasy;
    color: white;
    padding-left: 40px;
    padding-top: 500px;
    
}

.subtitle{
    font-size: 17px;
}

.title{
    position: absolute;
    color: green;
    font-size: 500px;
    padding-left: 40px;
}

.XDiavel3{
    position: absolute;
    height: 300px;
    width: 300px;
}