@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One');

header .banner{
    background-image: url(../ducati/xdiavel-s1.jpg);
    min-height: 900px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

#home, #menu, #contact, #aboutus{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

header .menu a:hover{
    font-size: 20px;
}

.menu{
    font-family: 'Anton';
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    padding-top: 15px;
    margin: 0 auto;
}

header .logo{
    position: absolute;
    font-family: 'Anton';
    font-size: 70px;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    margin-left: 50px;
    display: inline;
}

header sub .sublogo{
    position: absolute;
    font-family: fantasy;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.toptitle{
    position: absolute;
    font-family: 'Fjalla One';
    padding-top: 690px;
    margin-left: 22px;
    color: white;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
    margin: 0 auto;
}

.toptext{
    padding-top: 725px;
    position: absolute;
    margin-left: 20px;
    color: white;
    font-family: 'Fjalla One';
    font-size: 22px;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
    margin: 0 auto;
}

.sublogo{
    font-size: 16px;
    
}

.navigate{
    display: inline;
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
}

.subscribe1{
    position: absolute;
    color: white;
    padding-left: 20px;
    font-family: cursive;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
}

.subscribe2{
    position: absolute;
    color: white;
    padding-left: 20px;
    font-family: cursive;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
}

.subscribe3{
    position: absolute;
    color: white;
    padding-left: 20px;
    font-family: cursive;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
}

.carousel{
    position: relative;
    max-width: 1650px;
    max-height: 1050px;
}

.arrowleft{
    position: relative;
    bottom: 500px;
    height: 40px;
    width: 40px;
    z-index: 5;
}

.arrowright{
    position: relative;
    bottom: 540px;
    left: 1610px;
    height: 40px;
    width: 40px;
    z-index: 5;
}

.wheel, .charac1, .charac2, .charac3, .charac4, .charac5, .charac6, .charac7{
    font-family: fantasy;
    text-decoration: underline;
}

.wheel1, .charac11, .charac22, .charac33, .charac44, .charac55, .charac66, .charac77{
    font-family: cursive;
}

.mainpage{
    font-family: fantasy;
    text-decoration: none;
    color: black;
}

.bg{
    background-color: dimgrey;
    margin: 0;
    padding: 0;
}

.copyright{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}

.copytitle{
    text-align: center;
    padding-top: 70px;
    font-family: fantasy;
    font-size: 60px;
}

.terms{
    text-align: center;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}